<?php
$category_id    = $this->getData('category_id');
$categories     = $this->getCategoryList($category_id);
?>

<div class="menu_categories menu_block">
    <h3><a href="<?= $categories[0]['url'] ?>" title="<?= $categories[0]['name'] ?>"><?= $categories[0]['name'] ?></a></h3>
    <?php unset($categories[0]); ?>
    <?php if (is_array($categories) && count($categories)) { ?>
        <ul>
            <?php foreach ($categories as $category) { ?>
                <li>
                    <a href="<?= $category['url'] ?>" title="<?= $category['name'] ?>"><?= $category['name'] ?></a>
                </li>
            <?php } ?>
        </ul>
    <?php } ?>
</div>